
<div class="" *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="" *ngIf="loadingAction">
  <app-action-loader></app-action-loader>
</div>

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header no-gutters row bg-primary">
          <div class="col-md-9">
            <h5>Messages</h5>

          </div>

        </div>
        <div class="card-block row">
          <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered dom-jQuery-events" *ngIf="messages.length > 1">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Date</th>
                        <th>Message</th>
                        <th>View</th>

                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let message of messages">
                        <td>{{message.id}}</td>
                        <td>{{message.name }}</td>
                        <td >{{message.phone}}</td>
                        <td style="min-width: 137px;">
                          {{ message.created_at | date: "medium" }}
                        </td>
                        <td >{{message.message | slice:0:70 }}
                          <ng-container *ngIf="message.message.length > 70">

                            ...
                          </ng-container>
                         </td>
                        <!-- <td>{{message.message}}</td> -->
                        <td class="text-truncate">
                          <button
                            type="button"
                            [attr.data-bs-toggle]="'modal'"
                            [attr.data-bs-target]="'#messageModal' + message.id"
                            class="btn btn-primary text-white"
                          >
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                        </td>

                    </tr>



                </tbody>

              </table>
              <div class="text-center py-4" *ngIf="messages.length < 1">
                <h4>There is no messages yet</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div
  *ngFor="let messageModal of messages"
  class="modal fade"
  id="messageModal{{ messageModal.id }}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-0" id="exampleModalLabel">
          Message details
        </h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
        <!-- <button type="button" aria-label="Close" class="close pull-right" (click)="modalRef.hide()"><span aria-hidden="true">×</span></button> -->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h4><i class="fas fa-address-card"></i> Name:</h4>
                <p>{{ messageModal.name  | slice:0:24 }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h4><i class="fa la-at"></i> Email:</h4>
                <p>{{ messageModal.email | slice:0:20 }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h4><i class="fas la-phone-volume"></i> Phone:</h4>
                <p>{{ messageModal.phone | slice:0:24 }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h4><i class="fas la-calendar"></i> Date:</h4>
                <p>{{ messageModal.created_at  | slice:0:24 }}</p>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h4><i class="fas la-comments"></i> Message:</h4>
                <p>{{ messageModal.message }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



