<div class="" *ngIf="loading">
  <app-loader></app-loader>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-transparent">
        <div class="card-header no-gutters row align-items-center bg-primary">
          <div class="col-md-8">
            <h5 class="mb-0">Statistics</h5>

          </div>
          <div class="col-md-4">
            <form [formGroup]="filter" (ngSubmit)="onSubmit(filter)">

                  <div class="row">
                    <div class="col-md-8">
                      <input type="text"
                      formControlName="date1"
                      placeholder="Daterangepicker"
                      class="form-control"
                      #drp="bsDaterangepicker" bsDaterangepicker
                      [maxDate]="maxDate"
                      [(ngModel)]="bsRangeValue">

                    </div>
                    <div class="col-md-4">
                      <div class="form-group mb-0">

                        <button class="btn btn-white h-38px btn-submit d-flex justify-content-center align-items-center w-100" [disabled]="filter.invalid" type="submit"><i class="fa fa-filter"
                          aria-hidden="true"></i></button>
                      </div>

                    </div>
                  </div>


              </form>
          </div>
        </div>
        <div class="card-block row p-3">
          <div class=" col-lg-6">
            <div class="card o-hidden">
              <div class="card-body">
                <div class="media static-widget">
                  <div class="media-body">
                    <h6 class="font-roboto">All categories</h6>
                  </div>
                  <img src="assets/images/svgs/category.svg" height="39" width="45" alt="">
                </div>
                <div class="progress-widget">
                  <h4 class="counter">Views : {{statistics}}</h4>
                  <div class="progress sm-progress-bar progress-animate">
                    <div class="progress-gradient-secondary" role="progressbar" style="width: 100%" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="searchContainer">

            <div class="col-lg-6" *ngFor="let category of categories; let i = index">
              <div class="card o-hidden">
                <div class="card-body">
                  <div class="media static-widget">
                    <div class="media-body">
                      <h6 class="font-roboto">{{category.title}}</h6>
                    </div>
                    <img src="assets/images/svgs/article.svg" height="39" width="45" alt="">

                  </div>
                  <ng-container *ngFor="let view of views; let index = index">

                    <h4 class="counter" *ngIf="index === i">Views : {{view}}</h4>

                    <div class="progress-widget" *ngIf="index === i">
                      <div class="progress sm-progress-bar progress-animate">
                        <div class="progress-gradient-success" role="progressbar" [ngStyle]="{'width': '100%'}" aria-valuenow="75"aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="!searchContainer">

            <div class="col-lg-6" *ngFor="let category of categoriesSearch; let i = index">
              <div class="card o-hidden">
                <div class="card-body">
                  <div class="media static-widget">
                    <div class="media-body">
                      <h6 class="font-roboto">{{category.title}}</h6>
                    </div>
                    <img src="assets/images/svgs/article.svg" height="39" width="45" alt="">

                  </div>
                  <ng-container *ngFor="let view of viewsSearch; let index = index">

                    <h4 class="counter" *ngIf="index === i">Views : {{view}}</h4>

                  </ng-container>
                  <div class="progress-widget">
                    <div class="progress sm-progress-bar progress-animate">
                      <div class="progress-gradient-success" role="progressbar" style="width: 60%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</div>
