    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      
      <app-navbar></app-navbar>
      <!-- Page Header Ends  -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper" >
        <app-sidebar *ngIf="isLogined"></app-sidebar>
        <!-- Page Sidebar Ends-->
        <div class="page-body" [ngClass]="{'ml-0 d-flex align-items-center justify-content-center': !isLogined}">
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
