<div class="" *ngIf="loading">
  <app-loader></app-loader>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-transparent">
        <div class="card-header no-gutters row align-items-center bg-primary">
          <div class="col-lg-4 col-md-3">
            <h5 class="mb-0">Statistics</h5>

          </div>
          <div class="col-lg-8 col-md-9">
            <form [formGroup]="filter" (ngSubmit)="onSubmit()">
              <div class="date-filter row justify-content-center align-items-end">

                <div class="col-md-5">
                  <div class="form-group d-flex align-items-center mb-0">

                    <label for="date1" class="date1 mr-1 mb-0">From</label>
                    <input type="date" class="form-control" formControlName="date1" id="date1">
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="form-group d-flex align-items-center mb-0">

                    <label for="date2" class="date2 mr-1 mb-0">To</label>
                    <input [max]="today" type="date" class="form-control" formControlName="date2" id="date2">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group mb-0">

                    <button class="btn btn-white h-38px btn-submit d-flex justify-content-center align-items-center w-100" [disabled]="filter.invalid" type="submit"><i class="fa fa-filter"
                      aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-block row p-3">
          <div class=" col-lg-6">
            <div class="card o-hidden">
              <div class="card-body">
                <div class="media static-widget">
                  <div class="media-body">
                    <h6 class="font-roboto">All categories</h6>
                  </div>
                  <img src="assets/images/svgs/category.svg" height="39" width="45" alt="">
                </div>
                <div class="progress-widget">
                  <h4 class="counter">Artciles : {{articlesAll.length}}</h4>
                  <div class="progress sm-progress-bar progress-animate">
                    <div class="progress-gradient-secondary" role="progressbar" style="width: 100%" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="searchContainer">

            <div class="col-lg-6" *ngFor="let category of categories; let i = index">
              <div class="card o-hidden">
                <div class="card-body">
                  <div class="media static-widget">
                    <div class="media-body">
                      <h6 class="font-roboto">{{category.title}}</h6>
                    </div>
                    <img src="assets/images/svgs/article.svg" height="39" width="45" alt="">

                  </div>
                  <ng-container *ngFor="let article of articles; let index = index">

                    <h4 class="counter" *ngIf="index === i">Artciles : {{article}}</h4>

                    <div class="progress-widget" *ngIf="index === i">
                      <div class="progress sm-progress-bar progress-animate">
                        <div class="progress-gradient-success" role="progressbar" [ngStyle]="{'width': '100%'}" aria-valuenow="75"aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="!searchContainer">

            <div class="col-lg-6" *ngFor="let category of categoriesSearch; let i = index">
              <div class="card o-hidden">
                <div class="card-body">
                  <div class="media static-widget">
                    <div class="media-body">
                      <h6 class="font-roboto">{{category.title}}</h6>
                    </div>
                    <img src="assets/images/svgs/article.svg" height="39" width="45" alt="">

                  </div>
                  <ng-container *ngFor="let article of articlesSearch; let index = index">

                    <h4 class="counter" *ngIf="index === i">Artciles : {{article}}</h4>

                  </ng-container>
                  <div class="progress-widget">
                    <div class="progress sm-progress-bar progress-animate">
                      <div class="progress-gradient-success" role="progressbar" style="width: 60%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</div>
