
<div class="" *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="" *ngIf="loadingAction">
  <app-action-loader></app-action-loader>
</div>

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header no-gutters row bg-primary">
          <div class="col-md-9">
            <h5>Admins</h5>

          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-light w-100" (click)="openModal(createModal)">Add admin</button>
          </div>
        </div>
        <div class="card-block row">
          <div class="col-sm-12 col-lg-12 col-xl-12">
            <div *ngIf="success" class="alert alert-success" role="alert">
              {{ success }}
            </div>
            <div *ngIf="error" class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            <div *ngIf="delete" class="alert alert-danger" role="alert">
              {{ delete }}
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="table-primary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let admin of admins">
                    <td scope="row">{{admin.id}}</td>
                    <td>{{admin.name}}</td>
                    <td>{{admin.email}}</td>
                    <td>{{admin.role}}</td>
                    <td>{{admin.phone}}</td>
                    <td class=" d-flex justify-content-start">
                      <a
                        routerLink="/admin/{{ admin?.id }}"
                        class="btn btn-pill btn-info btn-air-info btn-air-info mr-1"
                        ><i class="fa fa-edit"></i
                      ></a>
                      <button
                      (click)="onDelete(admin.id, admin.id)"
                      class="btn btn-pill btn-danger btn-air-danger btn-air-danger"
                    >
                      <i class="fa fa-trash"></i>
                    </button>

                    </td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<ng-template #createModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create admin</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createAdmin" (ngSubmit)="onCreateModal(createAdmin)">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" class="form-control" type="text" name="title" formControlName="name">
            </div>
            <div *ngIf="createAdmin.controls['name'].touched && createAdmin.controls['name'].errors != null" id="email" class="alert mt-2 alert-danger" role="alert">
              <p class="mb-0" *ngIf="createAdmin.controls['name'].errors['required']">Name is required</p>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label for="name">Email</label>
              <input id="name" class="form-control" type="text" name="title" formControlName="email">
            </div>
            <div *ngIf="createAdmin.controls['email'].touched && createAdmin.controls['email'].errors != null" id="email" class="alert mt-2 alert-danger" role="alert">
              <p class="mb-0" *ngIf="createAdmin.controls['email'].errors['required']">Email is required</p>
              <p class="mb-0" *ngIf="createAdmin.controls['email'].errors['email']">Email is invalid</p>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label for="text">Role</label>
              <select id="text" class="form-control" type="text" name="text" formControlName="role">
                <option value="">Select role</option>
                <option value="super-admin">Super admin</option>
              </select>
            </div>
            <div *ngIf="createAdmin.controls['role'].touched && createAdmin.controls['role'].errors != null" id="email" class="alert mt-2 alert-danger" role="alert">
              <p class="mb-0" *ngIf="createAdmin.controls['role'].errors['required']">Role is required</p>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label for="phone">Phone</label>
              <input id="phone" onkeypress="isInputNumber(event)" class="form-control" type="number" name="text" formControlName="phone">
            </div>
            <div *ngIf="createAdmin.controls['phone'].touched && createAdmin.controls['phone'].errors != null" id="email" class="alert mt-2 alert-danger" role="alert">
              <p class="mb-0" *ngIf="createAdmin.controls['phone'].errors['required']">Phone is required</p>
              <p class="mb-0" *ngIf="createAdmin.controls['phone'].errors['pattern']">Phone must be 11 digits</p>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label for="text">Password</label>
              <input id="text" class="form-control" type="password" name="text" formControlName="password">
            </div>
            <div *ngIf="createAdmin.controls['password'].touched && createAdmin.controls['password'].errors != null" id="email" class="alert mt-2 alert-danger" role="alert">
              <p class="mb-0" *ngIf="createAdmin.controls['password'].errors['required']">Password is required</p>
            </div>
          </div>


        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="createAdmin.invalid">Save changes</button>
      </div>
  </form>
  </div>
</ng-template>
